# Node environment
NODE_ENV=<SET_NODE_ENV>

# On-prem server url
ONPREM_SERVER_URL=<SET_ONPREM_SERVER_URL>

# Json web token
JWT_SECRET=<SET_JWT_SECRET>

# Client
CLIENT_ID=<SET_CLIENT_ID>
CLIENT_SECRET=<SET_CLIENT_SECRET>

# Azure SQL Server Config
AZURE_DB_SERVER=<SET_AZURE_DB_SERVER>
AZURE_DB_DATABASE=<SET_AZURE_DB_DATABASE>
AZURE_DB_USER_PUBLIC=<SET_AZURE_DB_USER_PUBLIC>
AZURE_DB_PASSWORD_PUBLIC=<SET_AZURE_DB_PASSWORD_PUBLIC>
AZURE_DB_USER_SERVICE=<SET_AZURE_DB_USER_SERVICE>
AZURE_DB_PASSWORD_SERVICE=<SET_AZURE_DB_PASSWORD_SERVICE>

# On-prem PostgreSQL
ONPREM_DB_SERVER=<SET_ONPREM_DB_SERVER>
ONPREM_DB_PORT=<SET_ONPREM_DB_PORT>
ONPREM_DB_DATABASE=<SET_ONPREM_DB_DATABASE>
ONPREM_DB_USER_SERVICE=<SET_ONPREM_DB_USER_SERVICE>
ONPREM_DB_PASSWORD_SERVICE=<SET_ONPREM_DB_PASSWORD_SERVICE>

# App
APP_NAME=<SET_APP_NAME>

# Kafka Gateway auth
KAFKA_API_KEY=<SET_KAFKA_API_KEY>
KAFKA_API_KEY_SECRET=<SET_KAFKA_API_KEY_SECRET>

# Jobs subscriber
SOURCE_CLIENT_ID=<SET_SOURCE_CLIENT_ID>
JOBS_WRITE_TOPIC=<SET_JOBS_WRITE_TOPIC>
JOBS_WRITE_DLQ_TOPIC=<SET_JOBS_WRITE_DLQ_TOPIC>
JOBS_READ_TOPIC=<SET_JOBS_READ_TOPIC>
JOBS_READ_DLQ_TOPIC=<SET_JOBS_READ_DLQ_TOPIC>
JOBS_STATUS_TOPIC=<SET_JOBS_STATUS_TOPIC>
JOBS_WRITE_MODEL_PROCEDURE=<SET_JOBS_WRITE_MODEL_PROCEDURE>
JOBS_READ_MODEL_PROCEDURE=<SET_JOBS_READ_MODEL_PROCEDURE>

# Google
Google_APPID=<SET_Google_APPID>